<! -- src/components/Calculator.astro -->
---
---
<div class="max-w-3xl mx-auto justify-center">
    <h2>CPM Calculator</h2>
    <form id="cpm-form" class="justify-center items-center">
        <div class="mb-2">

            <label for="cost" class="text">Campaign Cost:</label>
            <input type="number" id="cost" name="cost">
        </div>
        <div class="">

            <label for="impressions">Number of Impressions:</label>
            <input type="number" id="impressions" name="impressions" class="pl-1 dark:text-slate-900 rounded-md">
        </div>

        <button type="submit">Calculate CPM</button>
    </form>
    <div id="result">CPM: $0.00</div>
</div>

<script>
    function calculateCPM() {
      const cost = parseFloat(document.getElementById('cost').value) || 0;
      const impressions = parseFloat(document.getElementById('impressions').value) || 1;
      const cpm = (cost / impressions) * 1000;
      document.getElementById('result').textContent = `CPM: $${cpm.toFixed(2)}`;
    }
  
    // Add event listeners to input fields
    document.getElementById('cost').addEventListener('input', calculateCPM);
    document.getElementById('impressions').addEventListener('input', calculateCPM);
  
    // Initial calculation
    calculateCPM();
  </script>