---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';


import CPMCalculator from '~/components/common/CPMCalculator';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import ImpressionsCalculator from '~/components/common/ImpressionsCalculator';
import CostPerImpressionCalculator from '~/components/common/CostPerImpressionCalculator';
import CalculatorSelector from '~/components/common/CalculatorSelector';
import HomeInfo from '~/components/common/HomeInfo';

const metadata = {
  title: 'CPM Calculator',
  description: 'CPM Calculator is a free online calculator that helps calculate your CPM for TikTok, Instagram, Podcast, YouTube, Facebook, Snapchat, Twitter and more. Discover your best marketing campaign performance.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
 
  >
    <Fragment slot="title">
      
      CPM Calculator 
      
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">CPM Calculator</span> is a free, customizable and easy to use calculator for all marketing campaigns. Easily calculate TikTok, Instagram, Influencer, Podcast or Meta campaigns in the one place.</span
      >
    
      Suitable for Agencies, Startups, Small Business, SaaS websites, Professionals and Influencers.
    </Fragment>
  </Hero>

  <!-- <CalculatorSelector client:visible /> -->
  <CPMCalculator client:visible />
  <ImpressionsCalculator client:visible  />
  <CostPerImpressionCalculator client:visible   />


  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog posts by CPM Calculator are used as educational guides for marketers to improve campaign performance. 
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that CPM Calculator offers and how it can elevate your marketing campaign performance."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why CPM Calculator?',
        description:
          "I wanted to make a solution that marketers can easily use to calculate information on their campaign performance so that they can get the best results possible for clients.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Using CPM Calculator is really simple, just enter the information such as Campaign cost, number of impressions or a fixed CPM cost and it will automatically calculate once you have entered the information.',
      },
      {
        title: 'How can I remember this website?',
        description:
          "We recommend bookmarking this website. This way you can easily return to it and won't need to remember it. There will be a bookmark option in the settings, depending on which web browser you are using.",
      },
      {
        title: "What's the difference between CPM and CPC?",
        description:
          "CPM (Cost Per Mille) measures the cost per thousand impressions, while CPC (Cost Per Click) measures the cost for each click on your ad. CPM is useful for brand awareness campaigns, whereas CPC is more suitable for direct response campaigns.",
      },
      {
        title: "How can I improve my campaign's CPM?",
        description:
          "To improve your CPM, focus on creating engaging content, targeting the right audience, optimizing ad placements, and testing different ad formats. Regularly analyze your campaign performance and make data-driven adjustments to increase efficiency.",
      },
      {
        title: 'What factors should I consider when setting a campaign budget?',
        description:
          "When setting a campaign budget, consider your overall marketing goals, target audience, industry benchmarks, campaign duration, and the platforms you're advertising on. It's also important to factor in seasonality and any upcoming promotions that might affect your campaign performance.",
      },
    ]}
  />

  <HomeInfo client:visible />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Visitors', amount: '10K' },
      { title: 'Users', amount: '0.4k' },
    ]}
  />


</Layout>
